.blogCarousel {
  margin: auto;
}

.slick-slider .slick-list {
  overflow: visible;
}

.slick-slider .slick-slide {
  width: calc(170px + 1rem);
  transition: all 0.5s ease;
}

.slick-slider .slick-slide img {
  width: 100%;
  border: 1px solid red;
}

.blogPostBoxInner {
  overflow: hidden;
  padding: 0 0.5rem;
}

.blogPostBoxInner .blogPostBoxTitle,
.blogPostImage.secondary {
  height: 45px;
  justify-content: center;
  margin: 3rem auto;
  max-width: 38rem;
}

.blogPostBoxInner .blogPostExcerptWrapper {
  text-align: center;
  padding: 0 1.5rem;
  width: calc(100% + 10rem);
  margin-left: -5rem;
}

.slick-slider .slick-slide:not(.slick-center) .blogPostBoxInner {
  margin-top: 7rem;
}

.slick-slider .slick-slide:not(.slick-center) .blogPostExcerptWrapper {
  display: none;
}

.slick-slider .slick-center {
  margin: 0;
  padding: 0;
  width: 33vw;
}

.slick-arrow {
  background: linear-gradient(45deg, black 25%, transparent 25%, transparent),
    linear-gradient(-45deg, black 25%, transparent 25%, transparent),
    linear-gradient(45deg, transparent 75%, black 75%),
    linear-gradient(-45deg, transparent 75%, black 75%);
  background-position: 20px 0;
  background-size: 40px 35px;
  top: calc(100% - 12rem);
  border: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 18px;
}

.slick-next {
  transform: rotate(-90deg);
  right: calc(25vw + 1rem);
}

.slick-prev {
  transform: rotate(90deg);
  left: calc(25vw + 1rem);
}
